
/* #sidebarMenu {
  margin-top: 45px;
  left: 0;
  width: auto;
  z-index: 1000;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f2f2f2;
  position: absolute;

}
.sidebarMenuInner {
  margin: 0;
  padding: 2px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li {
  list-style: none;
  color:black;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color:black;

}
.sidebarMenuInner li a {
  color:black;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;

  transform: rotate(-135deg);
  margin-top: -9px;
} */

/*--------------------sidebar-header----------------------*/
/* 
 .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.user-pic {
  float: left;
  width: 60px;
  padding: 1px;
  border-radius: 50px;
  margin-right: 15px;
  overflow: hidden;
}

 .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

 .user-info {
  float: left;
}

.user-name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

 .user-info > span {
  display: block;
}
 .user-role {
  font-size: 15px;
}
.user-status {
  font-size: 15px;
  margin-top: 4px;
} */

/*--------------------------side-footer------------------------------*/

/* .sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer-a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer-a .notification {
  position: absolute;
  top: 0;
}


chiller theame 

.chiller-theme .sidebar-footer {
  background: #3a3f48;
  box-shadow: 0px -1px 5px #282c33;
  border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer-a:first-child {
  border-left: none;
}

.chiller-theme .sidebar-footer-a:last-child {
  border-right: none;
}
.sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

 .sidebar-submenu ul {
  padding: 5px 0;
}

 .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-dropdown-container{
  display: none;
  background-color: #262626;
  padding-left: 8px;
} */

/*--------------------------page-content-----------------------------*/

 /* .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 350px;
  padding-top: 20px;
}

.main-right-contain{
  padding: 20px 40px;
}

 .page-content {
  overflow-x: hidden;
} */

/*------scroll bar---------------------*/

/* ::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
} */


/* --------------------------  card button   -------------------------- */


/* ================================ media querry for large device  ================================= */
@media screen and (min-width:600px){
  .header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: #3498DB;
    width: 100%;
    height: 50px;
  }
  .heading{
      text-align: center;
  }
  
  /* ============================ Sidebar ====================================== */
  .sidebar {
    position: absolute;
    z-index: 10;
    left: 0;
    height: 100%;
    background: #fff;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 62px;
    background: #133f60;
    border-radius: 0px 30px 30px 0px;
  }
  .sidebar:hover,
  .sidebar.active,
  .sidebar.hovered {
    width: 180px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .sidebar ul li {
    display: block;
  }
  .link-sidebar{
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    color:white;
    text-align: left;
  }
  .sidebar ul li  i {
      display: inline-block;
      width: 80px;
      height: 68px;
      line-height: 100px;
      text-align: center;
      animation-duration: 0.7s;
      animation-fill-mode: both;
      font-size: 18px;
  }
  .sidebar ul li  span {
    display: inline-block;
    height: 60px;
    line-height: 60px;
  }
  .link-sidebar:hover {
    fill: white;
    background-color: rgba(124, 131, 191, 1) !important;
  }
  .link-sidebar:hover i {
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    -o-animation-name: swing;
    animation-name: swing;
    fill: white;
     background-color: rgba(124, 131, 191, 1) !important;
  }
  
  
  }
  
  /* ====================================== media query for small device  ================================== */
  
  /*   
  @media screen and (max-width:599px) {
    .sidebar{
        display: none;
    }  
    
  } */
  /* .sidebar-icon{
    color: white;
  }
   */
  @media screen and  (max-width:600px) {
    .sidebar-phone-format{
      overflow: hidden;
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 10;
      background: #133f60;
      /* background: #fff; */
      text-align: center;
      color: white;
      overflow: hidden;
    }
  
    .sidebar ul{
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding-top: 15px ;
      padding-left: 10px;
      text-decoration: none;
      font-size: 17px;
      display: inline-flex;
    }
    .sidebar-phone-format-heading{
      display: table-column;
      height: 60px;
    line-height: 60px;
    }
    .link-sidebar{
      display: block;
      position: relative;
      white-space: nowrap;
      overflow: hidden;  
      text-align: left;
    }
   
  .sidebar-phone-format-i {
    padding-left: 50px;
    /* color: white; */
  } 
  .sidebar-icon:hover {
    
    background-color:white;
   
  }
  
  }  
  
  
  