.grid-method-add-item-form{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    
    margin-left: 2rem;
    
    margin-right: 2rem;
}

.add-item-form-col{
    padding-left: 2rem;
}

.select-option{
    float: right;
 
    margin-top: -36px;
    font-size: 23px;
}


.barcode-select{
    float:right;
}